/* ContactUs.css */

.contact-us-container {
    background-color: #f7f7f7;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  .contact-us-container p{
    padding-left: 30%;
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    font-size: 16px;
    background-color:#854d0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Additional CSS rules as needed */