nav {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-links button.active {
  color: #854d0e;
  font-weight: bold;
}